/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* VARIABLES */

:root {
   --yellow: #FFBD54;
   --dark-gray: #333333;
   --dimgray: #949494;
}

/* FONTS */

@font-face {
   font-family: "FuturaPT";
   font-display: swap;
   font-weight: 300;
   src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
   url('../fonts/FuturaPT-Light.woff') format('woff');
}

@font-face {
   font-family: "FuturaPT";
   font-display: swap;
   font-weight: 400;
   src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
   url('../fonts/FuturaPT-Book.woff') format('woff');
}

@font-face {
   font-family: "FuturaPT";
   font-display: swap;
   font-weight: 500;
   src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
   url('../fonts/FuturaPT-Medium.woff') format('woff');
}

@font-face {
   font-family: "FuturaPT";
   font-display: swap;
   font-weight: 700;
   src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
   url('../fonts/FuturaPT-Bold.woff') format('woff');
}

/* GENERAL */

*,
*::before,
*::after {
   -webkit-box-sizing: inherit;
   box-sizing: inherit;
}

html {
   height: 100%;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   height: 100%;
   margin: 0;
   padding: 0;
   font-size: 16px;
   font-family: "FuturaPT", "Arial", sans-serif;
   background-color: #F9F9F9;
   background-image: url("../images/body-bg.jpg");
   overflow-x: hidden;
}

img {
   display: block;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0;
}

ul,
ol {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

/* CONTAINER */

.container {
   max-width: 1350px;
   margin-right: auto;
   margin-left: auto;
   padding-right: 20px;
   padding-left: 20px;
}

/* VISUALLY-HIDDEN */

.visually-hidden  {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   white-space: nowrap;
   -webkit-clip-path: inset(100%);
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* STICKY-FOOTER */

.site-main {
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
}

/* ======================= HEADER START ======================= */

.header-top {
   padding-top: 11px;
   padding-bottom: 9px;
   background-color: #F9F8F8;
}

.header-top__inner {
   padding-left: 200px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.header-top__address::before {
   content: "";
   display: inline-block;
   top: 0;
   left: 0;
   margin-right: 5px;
   width: 14px;
   height: 13px;
   background-image: url("../images/house-icon.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.header-top__address-link {
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   font-style: normal;
   color: var(--dark-gray);
   text-decoration: none;
}

.header-top__number-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.header-top__number-list::before {
   content: "";
   display: inline-block;
   top: 0;
   left: 0;
   width: 13px;
   height: 13px;
   margin-right: 9px;
   background-image: url("../images/phone-icon.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.header-top__number-item:nth-child(2)::before {
   content: "";
   display: inline-block;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   width: 4px;
   height: 4px;
   margin-right: 9px;
   margin-left: 9px;
   border-radius: 50%;
   background-color: var(--yellow);
}

.header-top__number-item:nth-child(2)::after {
   content: "";
   display: inline-block;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   width: 4px;
   height: 4px;
   margin-right: 9px;
   margin-left: 5px;
   border-radius: 50%;
   background-color: var(--yellow);
}

.header-top__number-link {
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   color: var(--dark-gray);
   text-decoration: none;
}

.header-top__number-link:hover {
   color: var(--yellow);
}

.header-top__number-link:active {
   color: var(--dark-gray);
   opacity: 0.6;
}

.header-top__time-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.header-top__time-list::before {
   content: "";
   display: inline-block;
   width: 14px;
   height: 15px;
   margin-right: 7px;
   background-image: url("../images/calendar.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.header-top__time-item:first-of-type {
   margin-right: 17px;
}

.header-top__time {
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   color: var(--dark-gray);
}

.header-bottom {
   /* padding-top: 15px; */
   /* padding-bottom: 20px; */
   border: 1px solid #F3F3F3;
   background-color: #fff;
}

.header-bottom__inner {
   padding-left: 300px;
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.logo {
   position: absolute;
   left: 0;
}

.logo:hover {
   opacity: 0.8;
}

.logo:active {
   opacity: 0.6;
}

.nav {
   width: 723px;
}

.nav__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.nav__list::before {
   content: "";
   display: inline-block;
   width: 21px;
   height: 22px;
   margin-right: 12px;
   background-image: url("../images/fish-icon.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.nav__item:not(:last-child) {
   margin-right: 55px;
}

.nav__link {
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: var(--dark-gray);
   text-decoration: none;
   padding-top: 22px;
   padding-bottom: 22px;
   display: inline-block;
   -webkit-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   transition: all 0.2s ease;
   border-bottom: 4px solid transparent;
}

.nav__link:hover {
   border-bottom: 4px solid #F4FFAD;
}

.nav__link:active {
   color: var(--dark-gray);
   opacity: 0.6;
}

.header-bottom__link {
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: var(--dark-gray);
   margin-left: auto;
   padding-top: 14px;
   padding-bottom: 18px;
   text-decoration: none;
   border-bottom: 4px solid transparent;
}

.header-bottom__link:hover {
   border-bottom: 4px solid #F4FFAD;
}

.header-bottom__link:active {
   color: var(--dark-gray);
   opacity: 0.6;
}

.header-bottom__link::before {
   content: "";
   display: inline-block;
   bottom: 50%;
   -webkit-transform: translateY(25%);
   -ms-transform: translateY(25%);
   transform: translateY(25%);
   width: 28px;
   height: 27px;
   margin-right: 5px;
   background-image: url("../images/paw-icon.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

/* ======================= HERO START ======================= */

.hero {
   padding-top: 145px;
   padding-bottom: 290px;
   background-image: url("../images/hero-pets.png") , url("../images/hero-parrot.png");
   background-position: calc(50% - 550px) calc(50% - 70px) , calc(50% - -710px) calc(50% - -215px);
   background-repeat: no-repeat;
}

.hero__info-wrapper {
   width: 608px;
   margin-left: auto;
}

.hero__heading {
   font-weight: 700;
   font-size: 70px;
   line-height: 64px;
   margin-bottom: 29px;
}

.hero__heading > span {
   color: #78C0DE;
}

.hero__desc {
   width: 495px;
   font-size: 16px;
   line-height: 21px;
   color: var(--dimgray);
   margin-bottom: 29px;
}

.hero__link {
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #FFFFFF;
   padding: 15px 48px 16px 47px;
   background-color: var(--dark-gray);
   border-radius: 3px;
   display: inline-block;
   text-decoration: none;
   -webkit-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   transition: all 0.2s ease;
}

.hero__link:hover {
   color: var(--dark-gray);
   background-color: var(--yellow);
}

.hero__link:active {
   opacity: 0.6;
}

/* ======================= ABOUT START ======================= */

.about__info-wrapper {
   position: relative;
   width: 805px;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
}

.about__info-wrapper::before {
   position: absolute;
   top: 10px;
   left: -55px;
   width: 50px;
   height: 42px;
   background-image: url("../images/quote-start.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.about__info-wrapper::after {
   position: absolute;
   top: 80px;
   right: -55px;
   width: 51px;
   height: 42px;
   background-image: url("../images/quote-end.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.about__info-text {
   position: relative;
   font-size: 20px;
   line-height: 26px;
   color: var(--dimgray);
   margin: 0;
   margin-bottom: 35px;
   padding-top: 43px;
   padding-bottom: 35px;
}

.about__info-text::before {
   position: absolute;
   top: 0;
   left: 50%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
   width: 140px;
   height: 1px;
   background-color: #DBDBDB;
   content: "";
}

.about__info-text::after {
   position: absolute;
   bottom: 0;
   left: 50%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
   width: 140px;
   height: 1px;
   background-color: #DBDBDB;
   content: "";
}

.about__info-heading {
   font-weight: 500;
   font-size: 20px;
   line-height: 26px;
   color: var(--dark-gray);
}

/* ======================= SERVICES START ======================= */

.services {
   padding-top: 191px;
}

.services__heading {
   font-size: 48px;
   line-height: 54px;
   color: var(--dark-gray);
   text-align: center;
   margin-bottom: 80px;
}

.services__items-wrapper {
   width: 1223px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.services__arrow {
   width: 50px;
   height: 50px;
   border: none;
   background-color: transparent;
   padding: 12px 18px;
   cursor: pointer;
   background-repeat: no-repeat;
   background-position: center;
}

.services__arrow:hover {
   background-color: #FFFFFF;
}

.services__arrow:active {
   opacity: 0.6;
}

.services__arrow-left-btn {
   background-image: url("../images/arrow-left.svg");
}

.services__arrow-right-btn {
   background-image: url("../images/arrow-right.svg");
}

.services__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
   margin-left: 30px;
   margin-right: 30px;
   overflow-x: hidden;
}

.services__item {
   width: 193px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
   padding: 30px 32px 28px 35px;
   background-color: #FFFFFF;
   border: 1px solid #F3F3F3;
   border-radius: 5px;
   cursor: pointer;
}

.services__item:hover {
   opacity: 0.8;
}

.services__item:active {
   opacity: 0.6;
}

.services__item:not(:last-child) {
   margin-right: 13px;
}

.services__item::before {
   content: "";
   display: inline-block;
   right: 0;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}

.services__item:first-child {
   border: none;
   padding-bottom: 50px;
}

.services__item:nth-child(1):before {
   width: 54px;
   height: 78px;
   background-image: url("../images/initial-inspection.svg");
   margin-bottom: 21px;
}

.services__item:nth-child(2):before {
   width: 62px;
   height: 77px;
   background-image: url("../images/second-initial-inspection.svg");
   margin-bottom: 22px;
}

.services__item:nth-child(3):before {
   width: 72px;
   height: 78px;
   background-image: url("../images/surgical-intervention.svg");
   margin-bottom: 21px;
}

.services__item:nth-child(4):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/dermatology.svg");
   margin-bottom: 45px;
}

.services__item:nth-child(5):before {
   width: 78px;
   height: 78px;
   background-image: url("../images/labaratory-diagnostics.svg");
   margin-bottom: 21px;
}

.services__item:nth-child(6):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/ophthalmology.svg");
   margin-bottom: 45px;
}
.services__item:nth-child(7):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/ultrasound-diagnostics.svg");
   margin-bottom: 24px;
}

.services__item:nth-child(8):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/chipping.svg");
   margin-bottom: 45px;
}

.services__item:nth-child(9):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/international-passports.svg");
   margin-bottom: 22px;
}

.services__item:nth-child(10):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/vaccination.svg");
   margin-bottom: 45px;
}

.services__item:nth-child(11):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/dentistry.svg");
   margin-bottom: 45px;
}

.services__item:nth-child(12):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/call-home.svg");
   margin-bottom: 24px;
}

.services__item-heading{
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
}

.services__link {
   color: var(--dark-gray);
   text-decoration: none;
}

.inspection {
   background-color: #FFFFFF;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin-left: 74px;
   padding-top: 42px;
   padding-right: 105px;
   padding-bottom: 43px;
   padding-left: 35px;
}

.inspection__info-wrapper {
   width: 492px;
} 

.inspection__info-heading {
   font-weight: 500;
   font-size: 36px;
   line-height: 20px;
   color: var(--dark-gray);
   margin-bottom: 18px;
}

.inspection__info-text {
   line-height: 20px;
   color: var(--dimgray);
}

.inspection__info-wrapper > .inspection__info-text {
   margin-bottom: 9px;
}

.inspection__info-links {
   margin-top: 34px;
}

.inspection__info-link:nth-child(1) {
   font-weight: 500;
   line-height: 21px;
   color: #FFFFFF;
   padding: 14px 33px 15px 35px;
   background-color: var(--yellow);
   border-radius: 3px;
   text-decoration: none;
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-right: 21px;
   -webkit-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   transition: all 0.2s ease;
}

.inspection__info-link:nth-child(1)::before {
   content: "";
   display: inline-block;
   bottom: 0;
   width: 22px;
   height: 21px;
   margin-right: 7px;
   background-image: url("../images/price-icon.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.inspection__info-link:nth-child(1):hover {
   background-color: var(--dark-gray);
   color: var(--yellow);
}

.inspection__info-link:nth-child(1):active {
   opacity: 0.6;
}

.inspection__info-link:nth-child(2) {
   font-weight: 500;
   line-height: 21px;
   color: #FFFFFF;
   padding: 14px 37px;
   background-color: var(--dark-gray);
   border-radius: 3px;
   text-decoration: none;
   display: inline-block;
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.inspection__info-link:nth-child(2)::before {
   content: "";
   display: inline-block;
   width: 21px;
   height: 22px;
   margin-right: 6px;
   background-image: url("../images/appointment-icon.svg");
}

.inspection__info-link:nth-child(2):hover {
   background-color: var(--yellow);
   color: var(--dark-gray);
}

.inspection__info-link:nth-child(2):active {
   opacity: 0.6;
}

/* ======================= ARTICLE START ======================= */

.article {
   margin-top: 235px;
   padding-top: 90px;
   padding-bottom: 88px;
   background-color: #78C0DE;
   background-image: url("../images/article-bg-img.svg");
   background-repeat: no-repeat;
   background-position: center;
}

.article__inner {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding-left: 178px;
}

.article__heading {
   font-size: 48px;
   line-height: 20px;
   color: #FFFFFF;
   margin-bottom: 32px;
}

.article__form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.article__input {
   width: 335px;
   outline: none;
   border-radius: 5px;
   border: 2px solid transparent;
   margin-right: 21px;
   padding: 18px 22px 12px 22px;
   line-height: 20px;
}

.article__input:focus {
   border-color: var(--yellow);
}

.article__input:not(:-moz-placeholder-shown):not(:focus):invalid {
   border-color: #DC4D41;
}

.article__input:not(:-ms-input-placeholder):not(:focus):invalid {
   border-color: #DC4D41;
}

.article__input:not(:placeholder-shown):not(:focus):invalid {
   color: #DC4D41;
   border-color: #DC4D41;
}

.article__btn {
   border: none;
   padding: 0;
   padding: 17px 53px 15px 51px;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #FFFFFF;
   background-color: var(--dark-gray);
   border-radius: 3px;
   cursor: pointer;
   -webkit-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   transition: all 0.2s ease;
}

.article__btn:hover {
   background-color: var(--yellow);
   color: var(--dark-gray);
}

.article__btn:active {
   opacity: 0.6;
}

.article__img-wrapper {
   position: absolute;
   top: calc(50% - 275px);
   right: 0;
}

/* ======================= STATUS START ======================= */

.status {
   padding-top: 151px;
   padding-bottom: 262px;
}

.status__inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.status__heading {
   font-size: 48px;
   line-height: 20px;
   margin-bottom: 80px;
   text-align: center;
}

.status__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: start;
   -ms-flex-align: start;
   /* align-items: flex-start; */
}

.status__item {
   width: 305px;
   background-color: #FEFEFE;
   border: 1px solid #E4E4E2;
   border-radius: 5px;
}

.status__item:hover {
   -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.status__item:active {
   -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.status__item--active {
   width: 640px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.status__item--active .status__lattice-list {
   display: block;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.status__item:not(:last-child) {
   margin-right: 24px;
}

.status__item-img {
   width: 305px;
   height: 180px;
   margin-bottom: 21px;
}

.status__item--active > .status__item-img {
   width: 305px;
   height: 461px;
   margin-right: 31px;
   margin-bottom: -1px;
   border-radius: 5px;
}

.status__lattice-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   display: none;
}

.status__lattice-item:nth-child(2) {
   margin-right: 8px;
   margin-left: 7px;
}

.status__lattice-link {
   font-size: 14px;
   line-height: 22px;
   text-align: center;
   color: #3D9CEA;
   text-decoration: none;
}

.status__item-texts {
   padding: 0 22px 35px 22px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.status__item--active .status__item-texts {
   width: 270px;
   padding: 0;
   padding-top: 41px;
   padding-bottom: 36px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.status__item--active .status__item-text--active {
   display: block;
}

.status__links-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-bottom: 23px;
}

.status__time {
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   color: var(--dimgray);
   margin-left: 190px;
   margin-bottom: 2px;
}

.status__item--active .status__time {
   margin-left: 0;
}

.status__item-heading {
   font-size: 22px;
   line-height: 25px;
   margin-bottom: 10px;
}

.status__item-text {
   line-height: 20px;
   color: var(--dimgray);
}

.status__item-text--active {
   line-height: 20px;
   color: var(--dimgray);
   display: none;
}

.status__item--active .status__item-text--active {
   display: block;
}

.status__item-link {
   text-decoration: none;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px; 
   color: var(--dark-gray);
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center; 
   margin-top: 34px;
}

.status__item-link:hover {
   color: var(--yellow);
}

.status__item-link:active {
   color: var(--dark-gray);
}

.status__item-link::before {
   content: "";
   display: inline-block;
   width: 28px;
   height: 27px;
   margin-right: 5px;
   background-image: url("../images/paw-icon.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

/* ======================= CONTACT START ======================= */

.contact {
   padding-bottom: 247px;
   background-color: var(--dark-gray);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.contact__wrapper {
   width: 1520px;
   background-image: url("../images/contact-bg-img.png");
   background-repeat: no-repeat;
   background-position: center right;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.contact__map {
   width: 500px;
   height: 652px;
   margin-right: 166px;
}

.contact__connectings {
   width: 375px;
}

.contact__heading {
   font-size: 48px;
   line-height: 62px;
   color: #FFFFFF;
   margin-bottom: 14px;
}

.contact__text {
   line-height: 20px;
   margin-bottom: 29px;
   color: var(--dimgray);
}

.contact__form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
}

.contact__input {
   width: 100%;
   border: none;
   outline: none;
   border: 2px solid transparent;
   margin-bottom: 14px;
   padding: 16px 22px 13px 22px;
}

.contact__input:focus {
   border-color: var(--yellow);
}

.contact__input:not(:-moz-placeholder-shown):not(:focus):invalid {
   border-color: #DC4D41;
}

.contact__input:not(:-ms-input-placeholder):not(:focus):invalid {
   border-color: #DC4D41;
}

.contact__input:not(:placeholder-shown):not(:focus):invalid {
   color: #DC4D41;
   border-color: #DC4D41;
}

.contact__textarea {
   width: 100%;
   padding: 17px 22px;
   margin-bottom: 30px;
   resize: none;
}

.contact__btn {
   border: none;
   display: inline-block;
   font-weight: 500;
   line-height: 21px;
   color: #FFFFFF;
   padding: 15px 49px 14px 50px;
   background-color: var(--yellow);
   cursor: pointer;
   -webkit-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   transition: all 0.2s ease;
}

/* ======================= FOOTER START ======================= */

.footer {
   padding-top: 54px;
   padding-bottom: 23px;
   background-color: #F3F3F3;
}

.footer__inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin-bottom: 28px;
}

.footer__item:nth-child(2) {
   margin-top: 14px;
   margin-bottom: 14px;
}

.footer__logo:hover {
   opacity: 0.8;
}

.footer__logo:active {
   opacity: 0.6;
}

.footer__link {
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: var(--dark-gray);
   text-decoration: none;
}

.footer__link:hover {
   color: var(--yellow);
}

.footer__link:active {
   color: var(--dark-gray);
   opacity: 0.6;
}

.footer__time-list {
   position: relative;
}

.footer__time-list::before {
   position: absolute;
   top: 0;
   left: -28px;
   width: 14px;
   height: 15px;
   background-image: url("../images/calendar.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.footer__time {
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   color: var(--dark-gray);
}

.footer__address {
   position: relative;
}

.footer__address::before {
   position: absolute;
   top: 2px;
   left: -28px;
   width: 14px;
   height: 13px;
   background-image: url("../images/house-icon.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.footer__address-link {
   font-weight: 500;
   line-height: 21px;
   color: var(--dark-gray);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   font-style: normal;
   text-decoration: none;
}

.footer__number-list {
   position: relative;
}

.footer__number-list::before {
   position: absolute;
   top: 0;
   left: -26px;
   width: 13px;
   height: 13px;
   background-image: url("../images/phone-icon.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.footer__number-item:nth-child(2) {
   margin-top: 4px;
   margin-bottom: 4px;
}

.footer__number-link {
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   color: var(--dark-gray);
   text-decoration: none;
}

.footer__number-link:hover {
   color: var(--yellow);
}

.footer__number-link:active {
   color: var(--dark-gray);
   opacity: 0.6;
}

.footer__end-text {
   font-size: 14px;
   line-height: 18px;
   color: #5C5C5C;
   margin-left: 1137px;
}

/* SYSTEMS HERO START */

.systems-hero {
   padding-top: 118px;
   padding-bottom: 140px;
   padding-left: 200px;
   background-image: url("../images/services-hero-bg.png");
   background-repeat: no-repeat;
   background-position: calc(50% - -510px);
}

.systems-hero__info-wrapper {
   width: 447px;
}

.systems-hero__heading {
   font-size: 70px;
   line-height: 64px;
   color: var(--dark-gray);
   margin-bottom: 21px;
}

.systems-hero__desc {
   line-height: 20px;
   color: var(--dimgray);
}

/* SYSTEMS START */

.systems {
   padding-bottom: 168px;
}

.systems__list {
   display: flex;
   flex-wrap: wrap;
   margin-right: 10px;
}

.systems__item {
   width: 295px;
   padding-top: 58px;
   padding-right: 22px;
   padding-left: 54px;
   background-color: #FFFFFF;
}

.systems__item::before {
   content: "";
   display: inline-block;
   right: 0;
   background-repeat: no-repeat;
   background-size: contain;
}

.systems__item:nth-child(1)::before {
   width: 54px;
   height: 78px;
   background-image: url("../images/initial-inspection.svg");
   margin-bottom: 21px;
}

.systems__item:nth-child(1) {
   margin-bottom: 32px;
}

.systems__item:nth-child(2):before {
   width: 62px;
   height: 77px;
   background-image: url("../images/second-initial-inspection.svg");
   margin-bottom: 22px;
}

.systems__item:nth-child(2) {
   margin-bottom: 32px;
}

.systems__item:nth-child(3):before {
   width: 72px;
   height: 78px;
   background-image: url("../images/surgical-intervention.svg");
   margin-bottom: 21px;
}

.systems__item:nth-child(3) {
   margin-bottom: 32px;
}

.systems__item:nth-child(4):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/dermatology.svg");
   margin-bottom: 21px;
}

.systems__item:nth-child(4) {
   margin-bottom: 32px;
   padding-bottom: 79px;
}

.systems__item:nth-child(5):before {
   width: 78px;
   height: 78px;
   background-image: url("../images/labaratory-diagnostics.svg");
   margin-bottom: 21px;
}

.systems__item:nth-child(5) {
   margin-bottom: 32px;
   padding-bottom: 45px;
}

.systems__item:nth-child(6):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/ophthalmology.svg");
   margin-bottom: 21px;
}

.systems__item:nth-child(6) {
   margin-bottom: 32px;
   padding-bottom: 79px;
}

.systems__item:nth-child(7):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/ultrasound-diagnostics.svg");
   margin-bottom: 24px;
}

.systems__item:nth-child(7) {
   margin-bottom: 32px;
   padding-bottom: 45px;
}

.systems__item:nth-child(8):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/chipping.svg");
   margin-bottom: 21px;
}

.systems__item:nth-child(8) {
   margin-bottom: 32px;
   padding-bottom: 79px;
}

.systems__item:nth-child(9):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/international-passports.svg");
   margin-bottom: 21px;
}

.systems__item:nth-child(9) {
   padding-bottom: 45px;
}

.systems__item:nth-child(10):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/vaccination.svg");
   margin-bottom: 21px;
}

.systems__item:nth-child(10) {
   padding-bottom: 79px;
}

.systems__item:nth-child(11):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/dentistry.svg");
   margin-bottom: 45px;
}

.systems__item:nth-child(12):before {
   width: 76px;
   height: 76px;
   background-image: url("../images/call-home.svg");
   margin-bottom: 24px;
}

.systems__item:nth-child(2n) .systems__item-link {
   background-color: #78C0DE;
}

.systems__item:not(:last-child) {
   margin-right: 30px;
}

.systems__item:hover {
   filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

.systems__item-heading {
   font-weight: 600;
   font-size: 32px;
   line-height: 34px;
   color: var(--dark-gray);
   margin-bottom: 14px;
}

.systems__item-desc {
   line-height: 20px;
   color: var(--dimgray);
   margin-bottom: 26px;
}

.systems__item-link {
   font-weight: 450;
   line-height: 21px;
   text-align: center;
   padding: 15px 29px 15px 30px;
   color: #FFFFFF;
   background-color: var(--yellow);
   border-radius: 3px;
   display: inline-block;
   text-decoration: none;
   transition: all 0.2s ease;
}

.systems__item-link--mdf:hover {
   background-color: #000000;
}

.systems__item-link--mdf:active {
   opacity: 0.6;
}

/* FAQ START */

.faq-hero {
   position: relative;
   padding-top: 110px;
   padding-bottom: 63px;
}

.faq-hero__inner {
   padding-left: 110px;
}

.faq-hero__info-wrapper {
   width: 447px;
}

.faq-hero__heading {
   font-size: 70px;
   line-height: 64px;
   color: var(--dark-gray);
   margin-bottom: 27px;
}

.faq-hero__desc {
   line-height: 20px;
   color: var(--dimgray);
   margin-bottom: 35px;
}

.faq-hero__link {
   padding: 15px 39px;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #FFFFFF;
   background-color: #78C0DE;
   border-radius: 3px;
   display: inline-block;
   display: inline-flex;
   align-items: center;
   text-decoration: none;
}

.faq-hero__link::before {
   content: "";
   display: inline-block;
   width: 21px;
   height: 22px;
   background-image: url("../images/appointment-icon.svg");
   background-repeat: no-repeat;
   margin-right: 6px;
}

.faq-hero__img {
   position: absolute;
   top: 70px;
   right: 0;
}

.characteristics {
   padding-bottom: 270px;
   background-image: url("../images/faq-parrot.png");
   background-repeat: no-repeat;
   background-position: calc(50% - -578px) calc(50% - -215px);
}

.characteristics__box {
   width: 752px;
   padding: 27px 41px 42px 63px;
   background-color: #fff;
   border: 1px solid #F3F3F3;
   border-radius: 5px;
}

.characteristics__box:not(:last-child) {
   margin-bottom: 18px;
}

.characteristics__time-wrapper {
   display: inline-flex;
   align-items: center;
   margin-bottom: 11px;
}

.characteristics__box .characteristics__time-wrapper::before {
   content: "";
   display: inline-block;
   width: 28px;
   height: 29px;
   background-repeat: no-repeat;
   background-size: contain;
   margin-right: 7px;
}

.characteristics__box:nth-child(1) .characteristics__time-wrapper::before {
   background-image: url("../images/faq-paw.svg");
}

.characteristics__box:nth-child(2) .characteristics__time-wrapper::before {
   background-image: url("../images/faq-blue-paw.svg");
}

.characteristics__box:nth-child(3) .characteristics__time-wrapper::before {
   background-image: url("../images/faq-paw.svg");
}

.characteristics__box:nth-child(4) .characteristics__time-wrapper::before {
   background-image: url("../images/faq-blue-paw.svg");
}

.characteristics__box:nth-child(5) .characteristics__time-wrapper::before {
   background-image: url("../images/faq-paw.svg");
}

.characteristics__box:nth-child(6) .characteristics__time-wrapper::before {
   background-image: url("../images/faq-blue-paw.svg");
}

.characteristics__time {
   font-size: 14px;
   line-height: 22px;
   color: var(--dark-gray);
   margin-right: 28px;
}

.characteristics__box:nth-child(3) .characteristics__time,
.characteristics__box:nth-child(6) .characteristics__time {
   opacity: 0.6;
}

.characteristics__person-name {
   font-weight: 500;
   font-size: 12px;
   line-height: 22px;
   letter-spacing: 0.08em;
   text-transform: uppercase;
   color: #78C0DE;
}

.characteristics__det {
   
}

.characteristics__box:nth-child(3) .characteristics__det,
.characteristics__box:nth-child(6) .characteristics__det {
   opacity: 0.6;
   background-image: none;
   background-image: url("../images/faq-clock.svg");
   background-repeat: no-repeat;
   background-position: right center;
}

.characteristics__box:nth-child(3),
.characteristics__box:nth-child(6):hover {
   cursor: not-allowed;
}

.characteristics__sum {
   font-weight: 500;
   font-size: 20px;
   line-height: 22px;
   color: var(--dark-gray);
   list-style-type: none;
   background-repeat: no-repeat;
   background-position: right center;
   transition: all 0.2s ease;
}

.characteristics__box:nth-child(1) .characteristics__sum,
.characteristics__box:nth-child(2) .characteristics__sum,
.characteristics__box:nth-child(4) .characteristics__sum,
.characteristics__box:nth-child(5) .characteristics__sum {
   background-image: url("../images/det-dropdown.svg");
}

.characteristics__text {
   line-height: 20px;
   color: var(--dimgray);
   margin-top: 23px;
}