/* VARIABLES */

:root {
   --yellow: #FFBD54;
   --dark-gray: #333333;
   --dimgray: #949494;
}

/* FONTS */

@font-face {
   font-family: "FuturaPT";
   font-display: swap;
   font-weight: 300;
   src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
   url('../fonts/FuturaPT-Light.woff') format('woff');
}

@font-face {
   font-family: "FuturaPT";
   font-display: swap;
   font-weight: 400;
   src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
   url('../fonts/FuturaPT-Book.woff') format('woff');
}

@font-face {
   font-family: "FuturaPT";
   font-display: swap;
   font-weight: 500;
   src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
   url('../fonts/FuturaPT-Medium.woff') format('woff');
}

@font-face {
   font-family: "FuturaPT";
   font-display: swap;
   font-weight: 700;
   src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
   url('../fonts/FuturaPT-Bold.woff') format('woff');
}

/* GENERAL */

*,
*::before,
*::after {
   box-sizing: inherit;
}

html {
   height: 100%;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0;
   padding: 0;
   font-size: 16px;
   font-family: "FuturaPT", "Arial", sans-serif;
   background-image: url("../images/body-bg.jpg");
   background-color: #F9F9F9;
}

img {
   display: block;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0;
}

ul,
ol {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

/* CONTAINER */

.container {
   max-width: 1350px;
   margin-right: auto;
   margin-left: auto;
   padding-right: 20px;
   padding-left: 20px;
}

/* VISUALLY-HIDDEN */

.visually-hidden  {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* STICKY-FOOTER */

.site-main {
   flex-grow: 1;
}

/* ======================= HEADER START ======================= */

.header {
   
}

.header-top {
   padding-top: 11px;
   padding-bottom: 9px;
   background-color: #F9F8F8;
}

.header-top__inner {
   padding-left: 200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header-top__address {
   
}

.header-top__address::before {
   content: "";
   display: inline-block;
   top: 0;
   left: 0;
   margin-right: 5px;
   width: 14px;
   height: 13px;
   background-image: url("../images/house-icon.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.header-top__address-link {
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   font-style: normal;
   color: var(--dark-gray);
   text-decoration: none;
}

.header-top__number-list {
   display: flex;
   align-items: center;
}

.header-top__number-list::before {
   content: "";
   display: inline-block;
   top: 0;
   left: 0;
   width: 13px;
   height: 13px;
   margin-right: 9px;
   background-image: url("../images/phone-icon.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.header-top__number-item {
   
}

.header-top__number-item:nth-child(2)::before {
   content: "";
   display: inline-block;
   top: 50%;
   transform: translateY(-50%);
   width: 4px;
   height: 4px;
   margin-right: 9px;
   margin-left: 9px;
   border-radius: 50%;
   background-color: var(--yellow);
}

.header-top__number-item:nth-child(2)::after {
   content: "";
   display: inline-block;
   top: 50%;
   transform: translateY(-50%);
   width: 4px;
   height: 4px;
   margin-right: 9px;
   margin-left: 5px;
   border-radius: 50%;
   background-color: var(--yellow);
}

.header-top__number-link {
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   color: var(--dark-gray);
   text-decoration: none;
}

.header-top__number-link:hover {
   color: var(--yellow);
}

.header-top__number-link:active {
   color: var(--dark-gray);
   opacity: 0.6;
}

.header-top__time-list {
   display: flex;
   align-items: center;
}

.header-top__time-list::before {
   content: "";
   display: inline-block;
   width: 14px;
   height: 15px;
   margin-right: 7px;
   background-image: url("../images/calendar.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.header-top__time-item {
   
}

.header-top__time-item:first-of-type {
   margin-right: 17px;
}

.header-top__time {
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   color: var(--dark-gray);
}

.header-bottom {
   padding-top: 15px;
   padding-bottom: 20px;
   border: 1px solid #F3F3F3;
   background-color: #fff;
}

.header-bottom__inner {
   padding-left: 300px;
   position: relative;
   display: flex;
   align-items: center;
}

.logo {
   position: absolute;
   left: 0;
}

.logo:hover {
   opacity: 0.8;
}

.logo:active {
   opacity: 0.6;
}

.nav {
   width: 723px;
}

.nav__list {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.nav__list::before {
   content: "";
   display: inline-block;
   width: 21px;
   height: 22px;
   margin-right: 12px;
   background-image: url("../images/fish-icon.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

.nav__item {
   
}

.nav__item:not(:last-child) {
   margin-right: 55px;
}

.nav__link {
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: var(--dark-gray);
   text-decoration: none;
   padding-bottom: 22px;
   transition: all 0.2s ease;
}

.nav__link:hover {
   border-bottom: 4px solid #eaff5f;
}

.nav__link:active {
   color: var(--dark-gray);
   opacity: 0.6;
}

.header-bottom__link {
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: var(--dark-gray);
   margin-left: auto;
   text-decoration: none;
}

.header-bottom__link::before {
   content: "";
   display: inline-block;
   bottom: 50%;
   transform: translateY(25%);
   width: 28px;
   height: 27px;
   margin-right: 5px;
   background-image: url("../images/paw-icon.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

/* ======================= HERO START ======================= */

.hero {
   padding-top: 145px;
   padding-bottom: 290px;
   background-image: url("../images/hero-pets.png") , url("../images/hero-parrot.png");
   background-position: calc(50% - 550px) calc(50% - 70px) , calc(50% - -710px) calc(50% - -215px);
   background-repeat: no-repeat;
}

.hero__inner {
   
}

.hero__info-wrapper {
   width: 608px;
   margin-left: auto;
}

.hero__heading {
   font-weight: 700;
   font-size: 70px;
   line-height: 64px;
   margin-bottom: 29px;
}

.hero__heading > span {
   color: #78C0DE;
}

.hero__desc {
   width: 495px;
   font-size: 16px;
   line-height: 21px;
   color: var(--dimgray);
   margin-bottom: 29px;
}

.hero__link {
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #FFFFFF;
   padding: 15px 48px 16px 47px;
   background-color: var(--dark-gray);
   border-radius: 3px;
   display: inline-block;
   text-decoration: none;
   transition: all 0.2s ease;
}

.hero__link:hover {
   color: var(--dark-gray);
   background-color: var(--yellow);
}

.hero__link:active {
   opacity: 0.6;
}

/* ======================= ABOUT START ======================= */

.about {
   
}

.about__inner {
}

.about__info-wrapper {
   position: relative;
   width: 805px;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
}

.about__info-wrapper::before {
   position: absolute;
   top: 10px;
   left: -55px;
   width: 50px;
   height: 42px;
   background-image: url("../images/quote-start.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.about__info-wrapper::after {
   position: absolute;
   top: 80px;
   right: -55px;
   width: 51px;
   height: 42px;
   background-image: url("../images/quote-end.svg");
   background-repeat: no-repeat;
   background-size: contain;
   content: "";
}

.about__info-text {
   position: relative;
   font-size: 20px;
   line-height: 26px;
   color: var(--dimgray);
   margin: 0;
   margin-bottom: 35px;
   padding-top: 43px;
   padding-bottom: 35px;
}

.about__info-text::before {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 140px;
   height: 1px;
   background-color: #DBDBDB;
   content: "";
}

.about__info-text::after {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 140px;
   height: 1px;
   background-color: #DBDBDB;
   content: "";
}

.about__info-heading {
   font-weight: 500;
   font-size: 20px;
   line-height: 26px;
   color: var(--dark-gray);
}